body {
  font: 100% Helvetica, sans-serif;
  color: #333;
}

h1, h3 {
  text-decoration: underline;
  color: #B22222;
}

h4 {
  text-decoration: underline;
  color: #B22222;
}

#skills-left {
  display: block;
  float: left;
  color: #191970;
  margin-right: 30px;
}

#skills-right {
  display: block;
  float: left;
  color: #191970;
}

li {
  color: #191970;
}
