$font-stack:    Helvetica, sans-serif;
$primary-color: #333;
$disp: block;
$flt: left;
$txtdeco: underline;
$color1: #B22222;
$color2: #191970;
@mixin textdeco {text-decoration: $txtdeco;color: $color1;}
@mixin pos {display: $disp; float: $flt; color: $color2; }

body {  font: 100% $font-stack;
        color: $primary-color;  }
h1,h3 {  @include textdeco;  }
h4 {  @include textdeco;  }
#skills-left {  @include pos;margin-right: 30px; }
#skills-right { @include pos;}
li {color: $color2;}

